:root {
  --primary: #9c27b0;
  --primary-light: #d05ce3;
  --primary-dark: #6a0080;
  --secondary: #1e88e5;
  --secondary-light: #6ab7ff;
  --secondary-dark: #005cb2;
  --font-on-primary-and-dark: #ffffff;
  --font-on-secondary-and-light: #000000;
  --background: #ffffff;
  --divider: #808080;
}

body {
  width: auto;
  height: 100%;
  /* background-image: url("library.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
}
@media all and (max-width: 768px){
  body {
    background-size: 700%;
  }
}

#new-book-entry {
  margin-bottom: 20px;
}


.content {
  width: auto;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 200px 3fr;
  margin: -10px;
  padding-top: 50px;
}

.library-display {
  width: auto;
  height: auto;
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-rows: 9fr 1fr;
}

.library-display p {
  margin: auto;
  margin-bottom: 0;
  background-color: rgba(128, 128, 128, .5);
  font-size: .75em;
  padding: 5px 20px;
  border-radius: 5px;
}

.book-info {
  grid-row: 1;
  height: fit-content;
  width: 650px;
  justify-self: center;
  background-color: var(--secondary-light);
  display: flex;
  justify-content: center;
  overflow: auto;
  border-radius: 16px;
  padding-bottom: 15px;
}

.book-info-table {
  list-style: none;
  font-size: .75em;
  grid-row: 1;
  text-align: center;
  width: 600px;
  margin-top: 20px;
  background-color: var(--background);
}

/* flair */
.book-info-table tr:hover {
  background-color: var(--secondary);
}

/* styles for the cells*/
table,
th,
td {
  border: 1px solid black;
  height: 2em;
}

th {
  background-color: var(--primary-dark);
  height: 2em;
  font-weight: bolder;
  font-size: 1.5em;
  color: var(--font-on-primary-and-dark);
}

/* Button used to open book adding form */
.open-button {
  background-color: var(--primary-dark);
  color: var(--font-on-primary-and-dark);
  font-weight: bold;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  top: 23px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 200px;
  border-radius: 6px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px 20px;
  background-color: var(--secondary-light);
  border-radius: 15px;
  border: 3px solid var(--background);
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

#readStatus {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  justify-content: center;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=radio] {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: var(--secondary-dark);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: var(--primary);
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}