.content {
    width: auto;
    height: auto;
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 200px 3fr;
    background-image: url("library.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 50px;
}

.user-input-field {
    width: auto;
    height: 100%;
    background: red;
    grid-area: 1/2/2/3;
    justify-self: center;
    align-items: center;
    display: flex;
}

.user-input-field input{
    display: flex;
    justify-content: space-between;
}

.user-input-field button {
    margin-left: auto;
    margin-right: auto;
}

.library-display {
    width: auto;
    height: auto;
    grid-area: 2/2/3/3;
    /*background-image: url("library.jpg");
    background-size: cover;
    background-position: center;
    opacity: 50%;*/
    display: grid;
    grid-template-rows: 9fr 1fr;
}

.library-display p {
    margin: auto;
    margin-bottom: 0;
    background-color: gray;
    font-size: .75em;
}


.book-info {
    grid-row: 1;
    height: 100%;
    width: 75%;
    justify-self: center;
    background-color: orange;
    display: flex;
    justify-content: center;
}

.book-info-table {
    list-style: none;
    font-size: .75em;
    grid-row: 1;
    text-align: center;
    width: 600px;
}

table, th, td {
    border: 1px solid black;
    height: 2em;
}
th {
    background-color: gray;
    height: 2em;
    font-weight: bolder;
}